/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* changa-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
}
p {
    line-height: 1.5;
}
a {
    color:#e71d36;
    text-decoration: none;
}
/**********************************
            PAGE INDEX
 **********************************/
main {
    margin: 20px 5%;
}
.page-index {
    color: #011627;
}
.page-index .realisation {
    list-style: none;
    padding: 0;
    margin: 0;
    /*Affichage flex*/
    display: flex;
    flex-wrap: wrap;
}
.page-index .realisation li {
    flex: 0 1 50%;
    padding: 1rem 2.5%;
}
.page-index .realisation figure {
    margin: 0;
    color: #011627;
    background-color: #e7e9eb;
}
.page-index .realisation figcaption {
    padding: 10px;
    font-size: 1rem;
}
/**********************************
            PAGE CONTACT
 **********************************/
.page-contact {
    color: #011627;
}
/**********************************
            PAGE INFORMATION
 **********************************/
.page-information {
    color: #011627;
}
/**********************************
        HEADER PAGE INFORMATION
 **********************************/
header {
    background-color: black;
    text-align: center;
    padding: 5px;
}
header ul {
    padding: 0;
}
header ul li {
    display: inline-block;
    margin: 0 15px;
}
.accueil {
    display:none;
}
header ul li a {
    padding: 5px 10px;
    display:inline-block;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    color: #fdfffc;
}
header ul li a:hover,
header ul li a.actif
{
    color: #2ec4b6;
}
header ul {
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
#Graphiste {
    margin: -5px;
    font-family: "Open Sans", sans-serif;
}
#Laure {
    font-family: "Changa One", sans-serif;
    color: #2ec4b6;
    font-size: 1.75rem;
    line-height: 0.8;
    margin-top: 1rem;
    margin-bottom: 1rem
}
/**********************************
        MAIN PAGE INFORMATION
 **********************************/
main {
    margin: 0 5%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
    margin: 0;
}
.page-information h1 {
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
}
#profil {
    Border-radius : 50%;
    max-width: 100%;
    height: 150px;
    width: 150px;
    display : block ;
    margin-left :auto;
    margin-right :auto;
}
/**********************************
        FOOTER PAGE INFORMATION
 **********************************/
footer {
    margin-top: 50px;
    text-align: center;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline-block;
}
footer img {
    display:inline-block;
    width: 50px;
    margin-right: 30px;
    filter: grayscale(1);
    transition: filter 500ms linear;
}
footer img:hover {
    filter: grayscale(0);
}

/**********************************
           MEDIA QUERIES
 **********************************/
@media screen and (min-width: 480px) {
    .page-index .realisation li {
        flex: 0 1 33%;
    }

    #profil {
        float: left;
        margin-right: 2rem;
        margin-bottom: 200px;
    }

    .page-contact .container {
        display: flex;
    }

    .page-contact section.general {
        width: 50%;
    }

    .page-contact section.contact {
        width: 40%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 660px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 5px solid #2ec4b6;
    }

    header > a {
        width: 42%;
        text-align: left;
    }

    header nav {
        width: 48%;
        font-size: 1.25rem;
    }

    #Laure {
        font-size: 2.5rem;
    }

    #Graphiste {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 910px) {
    header .accueil {
        display: inline-block;
    }

    main,
    footer {
        max-width: 910px;
        margin-left: auto;
        margin-right: auto;
    }
}


